Source: loginkit
Section: admin
Priority: optional
Maintainer: Dima Krasner <dima@dimakrasner.com>
Build-Depends: debhelper (>= 8.0.0), libglib2.0-dev, libpam0g-dev, pkg-config
Build-conflicts: libsystemd-dev, libsystemd0, libsystemd-daemon0, libsystemd-journal0, libsystemd-journal-dev, libsystemd-login0, libsystemd-login-dev
Standards-Version: 3.9.4
Homepage: https://github.com/dimkr/LoginKit
Vcs-Git: git://github.com/dimkr/LoginKit.git
Vcs-Browser: https://github.com/dimkr/LoginKit

Package: loginkit
Architecture: any
Depends: ${misc:Depends}, dbus, consolekit2
Description: LoginKit daemon
 LoginKit is a compatible, yet standalone alternative to logind and libsystemd.
 .
 This package provides the LoginKit daemon.
Conflicts: systemd

Package: libpam-loginkit
Section: libs
Architecture: any
Depends: consolekit2, ${shlibs:Depends}, libpam0g
Description: LoginKit PAM module
 LoginKit is a compatible, yet standalone alternative to logind and libsystemd.
 .
 This package provides the LoginKit PAM module.
Conflicts: systemd

Package: loginkit-libs
Section: libs
Architecture: any
Depends: loginkit (= ${binary:Version}), libpam-loginkit (= ${binary:Version}), ${shlibs:Depends}
Description: LoginKit development files
 LoginKit is a compatible, yet standalone alternative to logind and libsystemd.
 .
 This package provides the LoginKit libraries.
Conflicts: libsystemd0, libsystemd-daemon0, libsystemd-journal0, libsystemd-login0

Package: loginkit-libs-dev
Section: libs
Architecture: any
Depends: loginkit (= ${binary:Version}), libpam-loginkit (= ${binary:Version}), libglib2.0-dev
Description: LoginKit development files
 LoginKit is a compatible, yet standalone alternative to logind and libsystemd.
 .
 This package provides the LoginKit development libraries and headers.
Conflicts: libsystemd-dev, libsystemd-daemon-dev, libsystemd-journal-dev, libsystemd-login-dev
